version: '3.8'

services:
  app:
    image: php:8.3-fpm
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db

  web:
    image: nginx:latest
    volumes:
      - ./:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - app

  db:
    image: postgres:18
    environment:
      POSTGRES_ROOT_PASSWORD: root
      POSTGRES_DATABASE: budget_tracker
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
    ports:
      - "3306:3306"